<h2>Stories</h2>
<ul class="stories">
	<li *ngFor="let story of stories">


		<span>{{story.title}}</span> <button (click)="editStory(story)" *ngIf="!(selectedStoryEditor === story)">Edit</button> <br> {{story.desc}}

		<div *ngIf="selectedStoryEditor === story">

			<input [(ngModel)]="story.title"> <br>
			<textarea [(ngModel)]="story.desc"></textarea> <br>
			
			<button (click)="updateStory(story)">Update</button>
		</div>

		<br>

	</li>
	<div *ngIf="selectedStory">
		<h2>{{selectedStory.title}} is my story</h2>
	</div>
</ul>

