/* You can add global styles to this file, and also import other style files */
html, body
{
  /*background: #f2f2f2;*/
  /*background: #F5F6F6;*/
  /*background: #C2E1E5;*/
  background: #D5E3E3;
  font-family: Ubuntu, "times new roman", times, roman, serif;
}

.pagewrapper
{
  margin: -20px 70px -10px 70px;
  padding: 5px 20px 15px 20px;
  box-shadow: 0px 0px 7px #999;
  background: #ffffff none repeat scroll 0% 0%;
  /*position: relative;*/
  
}

.pagecontent
{
  display: table;
}

.navigation
{
  padding: 20px 25px 0px 0px;
  display: table-cell;
}

.content
{
  display: table-cell;
}

